h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 60px;
  text-align: left;
  width: 450px;
  margin: 0 auto;
}

h1 span {
  font-size: 36px;
}

.alert {
  text-align: center;
  margin-bottom: 8px;
}

a { color: black; }
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }
a.alert {
  color: blue;
  text-decoration: underline;
}

.content {
  width: 450px;
  margin: 0 auto;
  text-align: left;
}